body {
  background-image: url('/images/dripglobe.jpeg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;  
}

.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

section {
  height: 100vh;
  width: 100vw;
}

.form-container {
  position: fixed;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
}

.form {
  position: relative;
  top: 175px;
  background-color: #eaf2e3;
  border-radius: 10px;
  width: fit-content;
  padding: 5% 4%;
  margin: 0 auto;
}

.flex-container {
  text-align: center;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container label {
  font-size: 125%;
}

.flex-container select {
  font-size: 125%;
  margin: 3% 2%;
  width: 20%;
  cursor: pointer;
  /* styling */
  background: transparent;
  border: none;
  border-bottom: 2px solid #000;
}

.flex-container input {
  font-size: 125%;
  margin: 3% 2%;
  width: 90%;
  cursor: text;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000;
}

.flex-container button {
  font-size: 125%;
  cursor: pointer;
  width: 25%;

  color: #fff;
  background-color: #3DA5D9;
  border-color: transparent;
  border-radius: 10px;
  padding: 2%;
  transition: all 0.2s ease-in-out;
}

.flex-container button:hover {
  box-shadow: 1.5px 3px 2px 0px #2364AA;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15%;
}

.btn-container button {
  padding: 2%;
  width: fit-content;
}