body {
  background-image: url('/images/dripglobe.jpeg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;  
}

.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

