.component-header {
    position: fixed;
    width: 100vw;
    background-color: #032f76;
    min-height: 50px;
    padding: 5px 20px 10px 20px;
    color: white;
    margin-bottom: 20px;
}
  
.Header-title {
    font-size: 2em;
}

.component-header h4 {
    font-style: italic;
}